---
import {
  BLOCKS,
  HEADINGS,
  type Paragraph,
  type NodeData,
TOP_LEVEL_BLOCKS
} from "@contentful/rich-text-types"
import { documentToHtmlString } from "@contentful/rich-text-html-renderer"
import { getPosts } from "../../lib/contentful"
import Layout from "@layouts/Layout.astro"

export async function getStaticPaths() {
  const posts = await getPosts()

  const pages = posts.map((post) => ({
    params: { slug: post.fields.slug },
    props: {
      ...post.fields
    }
  }))

  return pages
}

const options = {
  renderNode: {
    [BLOCKS.EMBEDDED_ASSET]: ({
      data: {
        target: { fields }
      }
    }) =>
      `<br /> <img src="${fields.file.url}" height="${fields.file.details.image.height}" width="${fields.file.details.image.width}" alt="${fields.description}"/> <br />`,
    [BLOCKS.PARAGRAPH]: (node: NodeData, next: any) => {
      return `<br /> <p>${next(node.content)}</p>`
    },
    [BLOCKS.HEADING_1]: (node: NodeData, children: Paragraph) => {
      return `<h1 class="text-2xl font-bold">${node.content[0].value}</h1>`
    },
    [BLOCKS.HEADING_2]: (node: NodeData, children: Paragraph) => {
      return `<h1 class="text-lg font-semibold">${node.content[0].value}</h1>`
    },
    [BLOCKS.HR]: (node: NodeData, children: Paragraph) => {
      return `<hr /> <br />`
    },
    [BLOCKS.LIST_ITEM]: (node: NodeData, next: any) => {
      return `<li class="">${next(node.content)}</li>`
    },
    [BLOCKS.UL_LIST]: (node: NodeData, next: any) => {
      return `<ul>${next(node.content)}</ul>`
    }
  }
}

const { title, content, image } = Astro.props
---

<Layout title={title}>
  <article class='space-y-12 w-full'>
    <div>
      <a href='/blog'>
        <button
          class='py-1 px-3 rounded-md text-lg font-semibold hover:underline hover:text-white transition-all decoration-indigo-400 underline-offset-8 decoration-2'
          >&lt; Back
        </button>
      </a>
    </div>
    <section>
      <div class='w-svw min-h-fit max-h-48 py-4 md:py-16'>
        <img src={image?.url} alt={image?.fileName} />
      </div>
      <h1>{title}</h1>
      <article lang='en' class='hypens-auto w-full' set:html={documentToHtmlString(content, options)} />
    </section>
  </article>
</Layout>
