---
import { getPosts } from "../../lib/contentful"
import Layout from "@layouts/Layout.astro"
import Grid from "@layouts/Grid.astro"
import Card from "@components/Card"
import Caption from "@components/Caption"

const posts = await getPosts()
---

<Layout title="De3ph's Blog">
  <section>
    <Caption text="Blog" />

    <Grid transition:animate='initial'>
      {
        posts?.map((post) => {
          return (
            <Card
              type='blog'
              title={post.fields.title}
              slug={post.fields.slug}
              author={post.fields.author}
              content={post.fields.content}
              image={post.fields.image}
              createdAt={post.createdAt}
              href={`/blog/${post.fields.slug}`}
            />
          )
        })
      }
    </Grid>
  </section>
</Layout>
